/* Navigation Styling */

#navigationMenu {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: darkgray;
}

.navigation-item {
    float: right;
    border-radius: 5px;
    /*background-color: mediumpurple*/
}

.navigation-item a, .navigation-item button {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
}

.navigation-item button {
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 10px;
}

.navigation-item a:hover, .navigation-item button:hover {
    background-color: darkorange;
    border-radius: 10px;
}

#macguyverTechLogo {
    object-fit: contain;
    float: left;
    padding-top: 5px;
}

/* Header Styling */

.header-container {
    text-align: center;
    padding-bottom: 20px;
}

.header-container h1, h2, h4 {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}

/* Body Styling */

body {
    background-color: dimgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/BackgroundWallpaper.jpg");
}

#backgroundContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    /*background-color: dimgray;*/
    display: inline-block;
}

#backgroundText h1, h2, h4 {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}

#backgroundImage {
    border-radius: 10px;
}

#backgroundImageDiv {
    padding-left: 5%;
}
