/* Header Styling */

.header-container {
    text-align: center;
    padding-bottom: 20px;
}

.header-container h1 {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
}

/* Body Styling */

body {
    /*background-color: dimgray;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/BackgroundWallpaper.jpg");
}

.faq-section {
    padding-left: 5%;
    padding-right: 5%;
}

p {
    color: darkorange;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h6 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}