/* Footer Styling */

.footer-container {
    margin-top: auto;
}

#footerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.copyright-desc {
    float: left;
    border-radius: 5px;
}

.copyright-desc a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#copyrightText {
    color: white;
}

.socialmedia-item {
    float: right;
    border-radius: 5px;
    padding-right: 1%;
    padding-top: 10px;
    /*background-color: mediumpurple*/
}

.socialmedia-item i {
    color: white;
}

.socialmedia-item #twitterLink {
    font-size: 30px;
}

#youtubeLink a:hover i {
    color: red;
}

#discordLink a:hover i {
    color: mediumpurple;
}

#twitterLink a:hover i {
    color: deepskyblue;
}

#linkedInLink a:hover i {
    color: skyblue;
}
