/* Navigation Styling */

.navbar-brand {
    padding-left: 3%;
}

.nav-link {
    color: gray;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
}

.navContainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    border-style: solid;
    border-color: gray;
    border-radius: 32px;
    border-bottom-width: 5px;
    border-top-width: 2px;
}

/* Header Styling */

.header-container, .description-container {
    /*background-color: dimgray;*/
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#projectTitle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-weight: bold;
    display: inline-block;
}


#projectDescription {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}



/* Body Styling */

body {
    /*background-color: dimgray;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/BackgroundWallpaper.jpg");
}

.container {
    margin: auto;
    /*background-color: dimgray;*/
}

.nft-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    /*background-color: dimgray;*/
    display: inline-block;
}

#nftIcons {
    border-radius: 10px;
}

#nftDesc {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
    color: darkorange;
    vertical-align: middle;
}
