/* Header Styling */

.header-container {
    text-align: center;
}

.header-container #headerTitle {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-bottom: 20px;
    font-weight: bold;
}

/*Body Styling */

body {
    /*background-color: dimgray;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/BackgroundWallpaper.jpg");
}

#newsFeedContainer {
    padding-bottom: 20px;
    border-radius: 32px;
    background-color: transparent;
    border-style: none;
    border-color: gray;
    border-bottom-width: 20px;
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
}

h2, h4 {
    text-align: center;
    color: white;
}

h6 {
    text-align: center;
    color: darkorange;
}

h4 {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.col-sm-6 {
    border-style: none;
    border-color: white;
    border-width: 2px;
    padding: 10px;
}

.col-sm-6 img {
    max-width: 30%;
    height: auto;
}